* {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
    height: 49px;
    background-color:#212529;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo {
    position: fixed;
    top: 60px;
    left: 215px;
    max-width: 550px; 
    height: auto;
    z-index: 1000;
    background: none;
    border: none; 
    transition: .3s ease all;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo {
     position: static;
    }
  }

  @media (max-width: 1680px) {
    .logo {
     position: static;
    }
  }
  
.logo:hover {
    scale: 1.1;
}
body {
    background-image: url(../img/fondoarreglado.svg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2em;
}
.login-section {
    border: 2px solid #fff;
    height: 490px;
    width: 400px;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    transition: .3s;
    display: flex;
    overflow: hidden;
}

@media (max-width: 700px){
    .login-section {
        
    }

    * {
        box-sizing: revert !important;
    }
  }
  @media (min-width: 280px) and  (max-width: 653px){
    .footer {
        bottom: -190px !important;
        left: 0px;
        width: 140% !important;
        margin: 0 auto;
    }

  }
  @media (max-width: 320px){
    .formbox {
        width: 120% !important;
    }

    .login-section {
        width:590px !important;
    }
    .container {
        width: 120% !important;
    }
    .logo {
        position: absolute !important;
        left: 30px !important;
    }
  }

  @media (min-width: 540px) {
    .formbox {
        width: 120% !important;
    }

    .login-section {
        width:590px !important;
    }
    .container {
        width: 120% !important;
    }
    .logo {
        position: absolute !important;
        left: 30px !important;
    }
  }
  
  @media (min-width: 360px) { 
    .formbox {
        width: 105% !important;
    }
  }

  @media (min-width: 820px) { 
    .container {
        width: 100% !important;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    }
  }

  @media (min-width: 768px) { 
    .container {
        width: 100% !important;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    }
  }
  @media (min-width: 1024px) { 
    .logo {
        position: initial !important;
    }
    .login-section {
        width: auto !important;
    }
  }
    
@keyframes changShadow {
    0% {
        box-shadow: 0 0 60px hsla(36, 100%, 47%, 0)
    }
    25% {
        box-shadow: 0 0 60px hsl(36, 100%, 47%)
    }
    50% {
        box-shadow: 0 0 60px hsl(178,99%,31%);
    }
    75% {
        box-shadow: 0 0 60px hsl(36, 100%, 47%)
    }
    100% {
        box-shadow: 0 0 60px hsla(36, 100%, 47%, 0)
    }
}
.login-section:hover {
    box-shadow: 0 0 60px hsl(36,100%,47%);
    animation: changShadow  5s 3 ;
}
.formbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
}
.formbox h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.input {
    display: flex;
    align-items: center;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.514);
    margin: 20px 0;
    position: relative;
}
.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding-right: 28px;
    color: #000000;
}
.input .icono {
    position: relative;
    
    right: 15px;
    font-size: 20px;
}
.input label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    transition: .3s ease;
}
.btn {
    background-color:   #f09100 ;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: background-color .7s;
}
.btn:hover {
    background-color: 
    #019f99;
    
}
.create p {
    font-size: 15px;
    text-align: center;
    margin: 25px;
}
.create a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}
.create a:hover {
    color: 
    #019f99;
    font-weight: 600;
    
}
.hidden {
    display: none;
}

.passwordforgotten {
    font-size: 14px;
    font-weight: normal;
    
}
.create i {
    padding: 10px;
}
.create i:hover{
    scale: 1.4;
    color: #019f99;
}

.containerfooter {
    max-width: 1200px;
    
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    background: #383d41;
    padding: 1px 1;
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
   
}
.footer-links {
    width: 25%;
    padding: 0 15px;
}
.footer-links h4 {
    font-size: 8px;
    color: white;
   
    font-weight: 500;
    border-bottom: 2px solid #f09100;
    display: inline-block;
    padding-bottom: 10px;
}
.footer-links ul li a {
    font-size: 8px;
text-decoration: none;
color: aliceblue;
display: block;
margin-bottom: 15px;
transition: all .3s ease;
}
.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
} 

.social-links a {
 display: inline-block;
 min-height: 40px;
 width: 40px;
 background-color: #f09000b2;
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #f09100;
 transition: all .5s ease;
}
.social-links a:hover {
    background-color: #019f99;
}