

/* Estilo para el encabezado de la página */
h1 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

/* Estilo para el contenedor de la imagen de perfil */
.profile-picture-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

/* Estilo para la superposición de la imagen de perfil */
.profile-picture-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Estilo de la imagen de perfil */
.profile-picture-container img.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

/* Mostrar la superposición al pasar el mouse sobre la imagen de perfil */
.profile-picture-container:hover .profile-picture-overlay {
    opacity: 1;
}



/* Estilo personalizado para los formularios */
.custom-form {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 40px;
    max-width: 600px; /* Limita el ancho del formulario para una mejor legibilidad */
    margin-top: 20px !important;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.custom-form:hover {
    box-shadow: 0 16px 36px 0 rgba(0,0,0,0.2);
  }
  

/* Estilo para las dos columnas de input */
.form-column {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

/* Estilo para las etiquetas de los campos de entrada */
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px; /* Aumenta el tamaño de fuente para hacerlo más atractivo */
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; /* Cambia la fuente a Raleway o la que desees */
    /* Otros estilos personalizados */
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}



/* Estilo para el botón de guardar cambios */
button.btn.btn-primary {
    margin-top: 40px !important;
    padding: 15px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}




/* Estilo personalizado para el footer */
.footerProfile {

    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilo para la línea horizontal entre los campos de entrada */
.input-separator {
    border: 0;
    border-top: 2px solid black; /* Establece el color y grosor de la línea */
    margin: 20px 0; /* Ajusta el espacio entre la línea y los campos de entrada */
}
