h2 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

.profile-picture-container {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}


.profile-picture-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 105px;
}


.profile-picture-container img.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border-color: transparent;
    box-shadow: 0 0 60px hsl(36, 100%, 47%);
}

.profile-picture-preview-container:hover .profile-picture-overlay {
    opacity: 1;
}


.custom-form {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 40px;
    max-width: 600px;
   
    margin-top: 20px !important;
    margin: 0 auto;
   
}

.custom-form:hover {
    box-shadow: 0 16px 36px 0 rgba(0, 0, 0, 0.2);
}


.form-column {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.form-group label {

    margin-bottom: 5px;
    font-size: 18px;
 
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}

.footerProfile {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-separator {
    border: 0;
    border-top: 2px solid black;
    margin: 20px 0;
}
/* jocestilos */
#profileForm {
    box-shadow: 0 0 60px hsl(36, 100%, 47%);
    animation: changShadow 5s 3;
  background-color: transparent;
  border-color: transparent;
  }

  .profileTitle{
  background-color: #d4d4d400;
  font-family: Georgia, 'Times New Roman', Times, serif!important;
      margin-left: 20%;
      margin-right: 20%;
     
  }
  .btnProfile {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      color: #580606;
      font-size: 18px;
      border-radius: 20px;
      width: 200px;
      height: 40px;
      font-weight: bold;
      border: 2px solid #555555;
      transition: 0.3s;
      box-shadow: 0px 6px 0px -2px #BC5C1C;
      background-color: #ef7a22!important;
      border-color: transparent!important;
    }
    
    .original-button:hover {
      box-shadow: 0 0 #fff;
      transform: translateY(1px);
    
  }
  .edit {
    color: #000000;
  }