
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .fondo {
    content: url("../img/cover_back_mobile.png");
  }
}

.fondo {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
=======
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

<<<<<<< HEAD
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;

  
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
>>>>>>> 45dcd85a661125f73ada500835748a396f14590d
}

=======
>>>>>>> 3e6b88d97e0a768263d50988d0ed231243e4ce34
footer {
  padding-top: 20px; 
  padding-bottom: 3rem;
  background-color: #552f11b6;
}

footer p {
  margin-bottom: .25rem;
  color: #b3b3b3;
}


.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
} 

.dropdown-menu-wide {
  width: 300px; /* Ajusta el ancho según tu preferencia */
}


/* DARKMODE */

body.dark{
  background-color:rgb(164, 160, 153);
  color: #000000;
  
}
body.dark nav {
  background-color:#484749 !important ;
}





.imgindex {
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: 4rem;
  height: 45%;
  width: 45%;
  max-width: 100%;
}


@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

body.dark .darkk {
  background-color: rgb(164, 160, 153)!important;
}
body.dark .custom-card {
  background-color: #554f4f75!important;
}
#btnmuchomas {
  background-color: #552f11b6 !important;
  border-color: transparent;
  }
body.dark #btnmuchomas {
  background-color: grey !important;
  border-color: transparent;
  }
#btnmuchomas:hover {
  transform: scale(1.1); 

}
body.dark .btn {
  background-color: hsl(178,99%,31%)!important;
  border: #484749;
}
body.dark .card-title  {
  color: #B9B9B9;
}

body.dark .productos  {
  color: #B9B9B9;
}

body.dark .productTitle  {
  color: #B9B9B9;
}

body.dark .carouselFlechas  {
  background-color: hsl(178,99%,31%);
}

body.dark .categorias  {
  color: #B9B9B9;
}

body.dark h4{
  color: #B9B9B9;
}

body.dark .filtermaxymin {
  border-color: hsl(178,99%,31%) !important;
}


body.dark .searchProducts {
  border-color: hsl(178,99%,31%) !important;
}
body.dark .product-image:hover {
  transform: scale(1.1); 
  border: 1px solid rgb(164, 160, 153); 
  box-shadow: 0 0 10px hsl(178,99%,31%); 
}

body.dark .remove-product:hover {
  background-color: hsl(178,99%,31%); 
}
/* Estilos para las imágenes de los productos */
.product-image {
  max-width: 100px; /* Ancho máximo de la imagen */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  display: block; /* Asegura que la imagen esté centrada en su contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente en su contenedor */
 
  transition: transform 0.2s; /* Transición suave para el efecto de agrandamiento */
}

/* Estilos para las imágenes cuando se seleccionan */

.product-image:hover {
  transform: scale(1.1); 
  border: 1px solid rgb(164, 160, 153); 
  box-shadow: 0 0 10px hsl(36,100%,47%); 
}


/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse; 
}

/* Estilos para las celdas de la tabla */
td, th {
  padding: 10px; 
  text-align: center;
 
}
.product-name {
  text-decoration: none; 
  color: inherit; 
  cursor: default;
}
.product-name:hover {
  color: #ff6600; /* Cambia el color al pasar el mouse sobre el elemento */
}
body.dark.product-name:hover {
  color: hsl(178,99%,31%); 
}

.preguntaCompra  {
  text-decoration: none; 
  color: inherit; 
  cursor: default;
}

.preg-frecuente {
  text-decoration: none; 
  color: inherit; 
  cursor: default;
  margin-left: 10rem;
}
/* Estilos para los botones de eliminar */
.remove-product {
  background-color: transparent; 
  color: white; 
  border: none; 
  padding: 5px 10px;
  cursor: pointer;
}

.remove-product:hover {
  background-color: hsl(36,100%,47%); 
}

/* Estilo para el contenedor del carrito */
#cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}



/* Estilo para las filas de la tabla */
.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Estilo para las imágenes de los productos */
.cart-item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

/* Estilo para los botones de eliminar */
.cart-item .remove-button {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilo para el selector de moneda */
#currency {
  margin-top: 10px;
  padding: 5px;
}

/* Estilo para el botón de actualizar el total */
#update-total-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#cart-total {
  position: absolute; /* Opcionalmente, puedes usar 'fixed' si lo prefieres fijo en la ventana */
}


/* Estilo para los botones de radio de moneda */
.currency-options label {
  display: inline-block;
  padding: 5px 10px;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  position: relative; /* Agrega posición relativa para que el .checkmark sea relativo a este elemento */
}


/* Estilo para el .checkmark personalizado */
.currency-options input[type="radio"] + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #B9B9B9;
  border-radius: 50px; /* Esto crea un círculo para el .checkmark */
}


.currency-options input[type="radio"]:checked + span::before {
  background-color: hsl(178, 99%, 31%); /* Cambia el color del .checkmark cuando está seleccionado */
}


h4 { 
  font-family: Georgia, 'Times New Roman', Times, serif;; 
  font-size: 1.25rem; 
  font-style: normal; 
  font-variant: normal; 
  line-height: 26.4px; 
  padding-top: 0.6rem;
} 
  
  h2 h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
  } 
  p { 
    font-family: Georgia, 'Times New Roman', Times, serif; ; 
 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
  } 
  
  div.h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
  }

  .col-md-8 {
    border: 1rem solid transparent;
    background-color: #ffffff75;
    margin-bottom: 4rem;
    border-radius: 2rem;
  }

  
  