.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 3rem;
  background-color: #552f11b6;
}

footer p {
  margin-bottom: .25rem;
  color: #b3b3b3;
}


.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.dropdown-menu-wide {
  width: 300px;
  /* Ajusta el ancho según tu preferencia */
}
.imgindex {
  display: block;
  margin: 0 auto;
  /* Centra horizontalmente */
  margin-top: 4rem;
  height: 45%;
  width: 45%;
  max-width: 100%;
}

/* Estilos para las imágenes cuando se seleccionan */

.product-image:hover {
  transform: scale(1.1);
  border: 1px solid rgb(164, 160, 153);
  box-shadow: 0 0 10px hsl(36, 100%, 47%);
}


/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
td,
th {
  padding: 10px;
  text-align: center;

}

.product-name {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.product-name:hover {
  color: #ff6600;

}

.preguntaCompra {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.preg-frecuente {
  text-decoration: none;
  color: inherit;
  cursor: default;
  margin-left: 10rem;
}

/* Estilos para los botones de eliminar */
.remove-product {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-product:hover {
  background-color: hsl(36, 100%, 47%);
}

/* Estilo para el contenedor del carrito */
#cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}



/* Estilo para las filas de la tabla */
.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Estilo para las imágenes de los productos */
.cart-item img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

/* Estilo para los botones de eliminar */
.cart-item .remove-button {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilo para el selector de moneda */
#currency {
  margin-top: 10px;
  padding: 5px;
}

/* Estilo para el botón de actualizar el total */
#update-total-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#cart-total {
  position: absolute;
  /* Opcionalmente, puedes usar 'fixed' si lo prefieres fijo en la ventana */
}


/* Estilo para los botones de radio de moneda */
.currency-options label {
  display: inline-block;
  padding: 5px 10px;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  position: relative;
  /* Agrega posición relativa para que el .checkmark sea relativo a este elemento */
}


/* Estilo para el .checkmark personalizado */
.currency-options input[type="radio"]+span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: #B9B9B9;
  border-radius: 50px;
  /* Esto crea un círculo para el .checkmark */
}


.currency-options input[type="radio"]:checked+span::before {
  background-color: hsl(178, 99%, 31%);
  /* Cambia el color del .checkmark cuando está seleccionado */
}


h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
  font-size: 1.25rem;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  padding-top: 0.6rem;
}

h2 h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

div.h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.col-md-8 {
  border: 1rem solid transparent;
  background-color: #ffffff75;
  margin-bottom: 4rem;
  border-radius: 2rem;
}






/* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE */

@font-face {
  font-family: 'You Murderer BB Font';
  src: url('../webfonts/youmurderer-bb.regular.ttf') format('truetype');
}

body.spooky .imgindex {
  content: url('../imgsp/spookyback.png');
}


body.spooky .bg {

  background-image: url(../imgsp/back.jpg);
  background-attachment: fixed;
  background-size: cover;

}

body.spooky .spookyclass {
  background-image: url(../imgsp/comentar.png);
}

body.spooky .darkk {
  background-image: url(../imgsp/slash.png);

  background-size: cover;
}

body.spooky .categorias {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}

body.spooky h3 {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}

body.spooky .vender {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}

body.spooky .productos {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}


body.spooky .productTitle {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}

body.spooky .fotoTitulo {
  font-family: 'You Murderer BB Font', cursive;
  font-size: 6rem;
  color: rgb(91, 5, 5);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.798);
}


body.spooky #btnmuchomas {
  background-color: white !important;
  border-color: black;

}



body.spooky .navbar {
  background-color: rgb(29, 10, 0);
  color: #fff !important;
}

body.spooky .bg {
  background-color: #fff;
}

body.spooky footer {
  display: none;
}

@font-face {
  font-family: 'Spooky';
  src: url('../webfonts/Emilys_Candy/EmilysCandy-Regular.ttf') format('truetype');
}

body.spooky p {
  font-family: 'Spooky', cursive;
  font-weight: 400;
}
body.spooky h1 {
  font-family: 'Spooky', cursive;
  
}
body.spooky th {
  font-family: 'Spooky', cursive;
  
}
body.spooky td {
  font-family: 'Spooky', cursive;
  
}
body.spooky select {
  font-family: 'Spooky', cursive;
  
}
body.spooky button {
  font-family: 'Spooky', cursive;
  
}

body.spooky h4 {
  font-family: 'Spooky', cursive;
  font-weight: 400;
}

body.spooky label {
  font-family: 'Spooky', cursive;
  font-weight: 400;
}

body.spooky .cart {
  background-image: url(../imgsp/back.jpg) !important;
}


body.spooky span {
  font-family: 'Spooky', cursive;
  font-weight: 400;
}

body.spooky a {
  font-family: 'Spooky', cursive;
  font-weight: 400;
}

body.spooky #applyChanges {
  background-color: red;
}
body.spooky #profileForm {
  background-color: rgba(241, 241, 241, 0.729);
}

/* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE *//* SPOOKY MODE */




/* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE */

body.dark {
  background-color: rgb(164, 160, 153);
  color: #000000;

}

body.dark nav {
  background-color: #484749 !important;
}

body.dark.product-name:hover {
  color: hsl(178, 99%, 31%);
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

body.dark .darkk {
  background-color: rgb(164, 160, 153) !important;
}

body.dark .custom-card {
  background-color: #554f4f75 !important;
}


#btnmuchomas:hover {
  transform: scale(1.1);

}

body.dark .btn {
  background-color: hsl(178, 99%, 31%) !important;
  border: #484749;
}

body.dark .card-title {
  color: #B9B9B9;
}

body.dark .productos {
  color: #B9B9B9;
}

body.dark .productTitle {
  color: #B9B9B9;
}

body.dark .carouselFlechas {
  background-color: hsl(178, 99%, 31%);
}

body.dark .categorias {
  color: #B9B9B9;
}

body.dark h4 {
  color: #B9B9B9;
}

body.dark .filtermaxymin {
  border-color: hsl(178, 99%, 31%) !important;
}


body.dark .searchProducts {
  border-color: hsl(178, 99%, 31%) !important;
}

body.dark .product-image:hover {
  transform: scale(1.1);
  border: 1px solid rgb(164, 160, 153);
  box-shadow: 0 0 10px hsl(178, 99%, 31%);
}

body.dark .remove-product:hover {
  background-color: hsl(178, 99%, 31%);
}
/* MY PROFILE */
body.dark #profileForm {

  box-shadow: 0 0 60px hsl(36, 100%, 47%);
  animation: changShadow 5s 3;
background-color: #c1c1c1;
border-color: transparent;
}
body.dark #profilePicturePreview {
  border-color: #c1c1c1;
  box-shadow: 0 0 60px hsl(36, 100%, 47%);
}
body.dark .profileTitle{
background-color: #d4d4d400;
    margin-left: 20%;
    margin-right: 20%;
    animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

  
/* Estilos para las imágenes de los productos */
.product-image {
  max-width: 100px;
  height: auto;
  display: block; 
  margin: 0 auto; 
  transition: transform 0.2s;
}

body.dark.product-name:hover {
  color: hsl(178, 99%, 31%);
}

/* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE *//* DARKMODE */